SOCIAL_AUTH_FACEBOOK_KEY=VALUE_HERE
SOCIAL_AUTH_FACEBOOK_SECRET=VALUE_HERE
SOCIAL_AUTH_FACEBOOK_SCOPE=VALUE_HERE

SOCIAL_AUTH_TWITTER_KEY=VALUE_HERE
SOCIAL_AUTH_TWITTER_SECRET=VALUE_HERE

SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=VALUE_HERE
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=VALUE_HERE
